server {
    listen 8080;
    server_name example.com www.example.com;

    location / {
        root /var/www/NFT-preview-card-component;
        index index.html;
        Errors /var/www/Errors/404
        index_error errorPage.html
    }
}

// std::cout << "---->>>>>>>" <<  httpResponse << std::endl;
// constract the httpresponse without the content
// read a pace of the file content ???????? (function with static variable > set the static variable to null if the eof has
// occured so 